apiVersion: v1
kind: Template
metadata:
  name: oshinko-webui
  namespace: {{ spark_project }}
objects:
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      name: ${OSHINKO_WEB_NAME}-proxy
    name: ${OSHINKO_WEB_NAME}-proxy
  spec:
    ports:
    - name: oc-proxy-port
      port: 8001
      protocol: TCP
      targetPort: 8001
    selector:
      name: ${OSHINKO_WEB_NAME}
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      name: ${OSHINKO_WEB_NAME}
    name: ${OSHINKO_WEB_NAME}
  spec:
    ports:
    - name: o-web-port
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      name: ${OSHINKO_WEB_NAME}
- apiVersion: v1
  kind: Route
  metadata:
    name: ${OSHINKO_WEB_NAME}
  spec:
    alternateBackends:
    - kind: Service
      name: ${OSHINKO_WEB_NAME}
    host: ${OSHINKO_WEB_ROUTE_HOSTNAME}
    path: /webui
    to:
      kind: Service
      name: ${OSHINKO_WEB_NAME}
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    name: ${OSHINKO_WEB_NAME}
  spec:
    replicas: 1
    selector:
      name: ${OSHINKO_WEB_NAME}
    strategy:
      type: Rolling
    template:
      metadata:
        labels:
          name: ${OSHINKO_WEB_NAME}
      spec:
        containers:
        - env:
          - name: SPARK_DEFAULT
            value: ${SPARK_DEFAULT}
          - name: OSHINKO_REFRESH_INTERVAL
            value: ${OSHINKO_REFRESH_INTERVAL}
          - name: WEB_ROUTE_NAME
            value: ${OSHINKO_WEB_NAME}
          - name: INSECURE_WEBUI
            value: "true"
          - name: CURRENT_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          image: ${OSHINKO_WEB_IMAGE}
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /webui
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 20
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: ${OSHINKO_WEB_NAME}
          ports:
          - containerPort: 8080
            name: o-web-port
            protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /webui
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 20
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
        - args:
          - proxy
          - -p
          - "8001"
          - --address=0.0.0.0
          - --disable-filter=true
          - --api-prefix=/proxy
          image: radanalyticsio/oc-proxy:stable
          imagePullPolicy: IfNotPresent
          name: oc-proxy
          ports:
          - containerPort: 8001
            name: oc-proxy-port
            protocol: TCP
        serviceAccount: oshinko
    triggers:
    - type: ConfigChange
parameters:
- description: Full name of the spark image to use when creating clusters
  name: SPARK_DEFAULT
- description: Name of the oshinko web service
  name: OSHINKO_WEB_NAME
  value: oshinko-web
- description: Full name of the oshinko web image
  name: OSHINKO_WEB_IMAGE
  required: true
  value: radanalyticsio/oshinko-webui:stable
- description: The hostname used to create the external route for the webui
  name: OSHINKO_WEB_ROUTE_HOSTNAME
- description: Refresh interval for updating cluster list in seconds
  name: OSHINKO_REFRESH_INTERVAL
  value: "5"
