apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ oshinko_spark_cluster }}-model-store
  labels:
    oshinko-cluster: {{ oshinko_spark_cluster }}
  namespace: {{ spark_project }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
