apiVersion: v1
kind: DeploymentConfig
metadata:
  annotations:
    created-by: oshinko-webui
    oshinko-config: '{"MasterCount":1,"WorkerCount":{{ spark_workers }},"Name":"","SparkMasterConfig":"","SparkWorkerConfig":"","SparkImage":"{{ spark_image }}","ExposeWebUI":"true","Metrics":"true"}'
  labels:
    oshinko-cluster: {{ oshinko_spark_cluster }}
    oshinko-metrics-enabled: "true"
    oshinko-type: worker
  name: {{ oshinko_spark_cluster }}-w
  namespace: {{ spark_project }}
spec:
  replicas: {{ spark_workers }}
  selector:
    oshinko-cluster: {{ oshinko_spark_cluster }}
  strategy:
    activeDeadlineSeconds: 21600
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        deploymentconfig: {{ oshinko_spark_cluster }}-w
        oshinko-cluster: {{ oshinko_spark_cluster }}
        oshinko-metrics-enabled: "true"
        oshinko-type: worker
    spec:
      containers:
      - env:
        - name: OSHINKO_SPARK_CLUSTER
          value: {{ oshinko_spark_cluster }}
        - name: SPARK_MASTER_ADDRESS
          value: spark://{{ oshinko_spark_cluster }}:7077
        - name: SPARK_MASTER_UI_ADDRESS
          value: http://{{ oshinko_spark_cluster }}-ui:8080
        - name: SPARK_METRICS_ON
          value: "prometheus"
        image: {{ spark_image }}
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8081
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: {{ oshinko_spark_cluster }}-w
        ports:
        - containerPort: 8081
          name: spark-webui
          protocol: TCP
        - containerPort: 7777
          name: spark-metrics
          protocol: TCP
#        volumeMounts:
#        - name: spark-model-store
#          mountPath: /models
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: {{ oshinko_spark_cluster }}-metrics
        name: hawkular-openshift-agent
#      - name: spark-model-store
#        persistentVolumeClaim:
#          claimName: {{ oshinko_spark_cluster }}-model-store
  test: false
  triggers:
  - type: ConfigChange
