apiVersion: v1
kind: DeploymentConfig
metadata:
  annotations:
    created-by: oshinko-webui
    oshinko-config: '{"MasterCount":1,"WorkerCount":{{ spark_workers }},"Name":"","SparkMasterConfig":"","SparkWorkerConfig":"","SparkImage":"{{ spark_image }}","ExposeWebUI":"true","Metrics":"true"}'
  labels:
    oshinko-cluster: {{ oshinko_spark_cluster }}
    oshinko-metrics-enabled: "true"
    oshinko-type: master
  name: {{ oshinko_spark_cluster }}-m
  namespace: {{ spark_project }}
spec:
  replicas: 1
  selector:
    oshinko-cluster: {{ oshinko_spark_cluster }}
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        deploymentconfig: {{ oshinko_spark_cluster }}-m
        oshinko-cluster: {{ oshinko_spark_cluster }}
        oshinko-metrics-enabled: "true"
        oshinko-type: master
    spec:
      containers:
      - env:
        - name: OSHINKO_SPARK_CLUSTER
          value: {{ oshinko_spark_cluster }}
        - name: SPARK_METRICS_ON
          value: "prometheus"
        image: {{ spark_image }}
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: {{ oshinko_spark_cluster }}-m
        ports:
        - containerPort: 8080
          name: spark-webui
          protocol: TCP
        - containerPort: 7077
          name: spark-master
          protocol: TCP
        - containerPort: 7777
          name: spark-metrics
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
#        volumeMounts:
#        - name: spark-model-store
#          mountPath: /models/
      volumes:
      - configMap:
          defaultMode: 420
          name: {{ oshinko_spark_cluster }}-metrics
        name: hawkular-openshift-agent
#      - name: spark-model-store
#        persistentVolumeClaim:
#          claimName: {{ oshinko_spark_cluster }}-model-store
  test: false
  triggers:
  - type: ConfigChange
